@media all and (max-width: 425px) {
    /*nav bar*/
    #logo {
        display: none;
    }

    #menu_btn {
        display: block;
        position: absolute;
        left: 30px;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 50%;
        background-color: white;
        padding: 0 5%;
        transform: scale(0);
        transition: .8s;
        transform-origin: top right;
        overflow: hidden;
        border-radius: 5px;
    }

    header .navbar.active {
        transform: scale(1);
    }

    header .navbar a {
        display: block;
        margin: 1.5rem 0;
        left: 100%;
        transition: .5s;
        transition-delay: calc(.1s * var(--i));
    }

    header .navbar.active a {
        left: 20px;
    }

    .toggle-btn.active::before {
        content: '\f00d';
    }
    /**/
    #hed_tex {
        position: absolute;
        top: 480px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 35px;
        color: #0C4A84;
        width: 200px;
    }

    #tex_2 {
        position: absolute;
        top: 590px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 20px;
        color: #17A4D0;
        width: 200px;
    }

    .typing-demo {
        position: absolute;
        top: 650px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 20px;
        width: 200px;
    }

    #deshin_box {
        background-color: #5FB0DE;
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    #myImage {
        position: absolute;
        width: 159px;
        right: 25px;
        top: 58px;
    }
    #email_subscribe {
        display: none;
    }

    #subscribe {
        display: none;

    }
    #sub_image {
        display: none;
    }

    #sub_tex {
        display: none;

    }
    .social-media {
        display: inline-block;
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
    }
    .social-media a {
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: transparent;
        margin: 5px;
        border-radius: 15px;
        font-size: 20px;
    }
    #about {
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        top: 800px;
    }

    #about_me {
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        top: 650px;
    }

    #about_image {
        position: absolute;
        bottom: 0;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        top: 970px;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .about_me_tex_01 {
        color: #000000;
        position: absolute;
        top: 1250px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
        text-align: center;
        font-weight: normal;
        display: inline-block;
        width: 75%;
    }
    .btn-color-2 {
        position: absolute;
        top: 1110px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        transition: all 300ms ease;
        padding: 1rem;
        width: 5rem;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        width: 150px;
    }

    #assigmenttag {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        top: 1300px;
    }

    #assigment {
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        top: 1450px;
    }
    .our_solution_category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        top: 3250px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #project {
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        top: 5050px;
    }

    #projecttag {
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        top: 4900px;
    }
    .wrapper {
        position: absolute;
        top:5150px;
        width: 100%;
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        flex-wrap: wrap;
    }
    #contact-me-tag {
        position: absolute;
        top: -550px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;

    }

    #contact-me-lable {
        text-align: center;
        display: inline;
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        top: -100px;
    }
    .contact-me{
        position: absolute;
        top: 2200px;
        width: 100%;
    }
    footer{
        position: absolute;
        top: 7850px;
        width: 100%;
        background: #3586ff;
        min-height: 100px;
        padding: 1px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}