@media all and (max-width: 1024px) {

    /*nav bar*/
    #logo {
        display: none;
    }

    #menu_btn {
        display: block;
        position: absolute;
        left: 80px;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 50%;
        background-color: white;
        padding: 0 5%;
        transform: scale(0);
        transition: .8s;
        transform-origin: top right;
        overflow: hidden;
        border-radius: 5px;
    }

    header .navbar.active {
        transform: scale(1);
    }

    header .navbar a {
        display: block;
        margin: 1.5rem 0;
        left: 100%;
        transition: .5s;
        transition-delay: calc(.1s * var(--i));
    }

    header .navbar.active a {
        left: 80px;
    }

    .toggle-btn.active::before {
        content: '\f00d';
    }
    /**/
    #hed_tex {
        position: absolute;
        top: 557px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 45px;
        color: #0C4A84;
        width: 552px;
    }

    #tex_2 {
        position: absolute;
        top: 666px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 30px;
        color: #17A4D0;
        width: 552px;
    }

    #tex_3 {
        position: absolute;
        top: 1200px;
        left: 300px;
        font-weight: bold;
        font-size: 25px;
        width: 550px;
    }

    .typing-demo {
        position: absolute;
        top: 750px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 25px;
        width: 550px;
    }

    #deshin_box {
        background-color: #5FB0DE;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        top: 285px;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    #myImage {
        position: absolute;
        width: 250px;
        right: 31px;
        top: 76px;
    }
    #email_subscribe {
        display: none;
    }

    #subscribe {
        display: none;

    }
    #sub_image {
        display: none;
    }

    #sub_tex {
        display: none;

    }
    .social-media {
        display: grid;
        position: absolute;
        top: 140px;
        right: 100PX;
    }
    .social-media a {
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: transparent;
        margin: 10px;
        border-radius: 15px;
        font-size: 25px;
    }
    #about {
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        top: 900px;
    }

    #about_me {
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        top: 760px;
    }

    #about_image {
        position: absolute;
        bottom: 0;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        top: 1170px;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .about_me_tex_01 {
        color: #000000;
        position: absolute;
        top: 1550px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        text-align: center;
        font-weight: normal;
        display: inline-block;
        width: 75%;
    }
    .btn-color-2 {
        position: absolute;
        top: 1400px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        transition: all 300ms ease;
        padding: 1rem;
        width: 10rem;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
    }

    #assigmenttag {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        top: 1650px;
    }

    #assigment {
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        top: 1800px;
    }
    .our_solution_category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        top: 2800px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #project {
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        top: 3850px;
    }

    #projecttag {
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        top: 3700px;
    }
    .wrapper {
        position: absolute;
        top:4000px;
        width: 100%;
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        flex-wrap: wrap;
    }
    #contact-me-tag {
        position: absolute;
        top: -550px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;

    }

    #contact-me-lable {
        text-align: center;
        display: inline;
        color: #09268D;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        top: -100px;
    }
    .contact-me{
        position: absolute;
        top: 450px;
        width: 100%;
    }
    footer{
        position: absolute;
        top: 6300px;
        width: 100%;
        background: #3586ff;
        min-height: 100px;
        padding: 19px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}